/env
/env34
/env35
/env38
/env3932
.venv/
tests/__pycache__/
__pycache__/
*.pyc
logs/
output*.txt
zkt-access-windows.pem
zkt-access-flask.rdp
windows.ppk
windows.pem
log.txt
relay_assignments.jsonoutput.txt
